@{
    ViewBag.Title = "Refugees United - IVR Platform";
}

<h3>Welcome</h3>

<p>
  To be able to use the Refugees United IVR you will first need to @Html.ActionLink("register", "Register", "Account").
</p>