@model List<RefUnitedIVRPlatform.Common.Entities.Recording>

@{
    ViewBag.Title = "Recordings";
}

<h2>Recordings</h2>

<table class="table table-bordered">
  <tr>
    <td>From</td>
    <td>To</td>
    <td>Url</td>
  </tr>
@foreach (var rec in Model)
{
  <tr>
    <td>@rec.FromProfileId</td>
    <td>@rec.ToProfileId</td>
    <td>@rec.Url</td>
  </tr>
}
</table>