@{
  ViewBag.Title = "AccountNotFound";
}

<h2>Account Not Found</h2>

@if (String.IsNullOrEmpty(ViewBag.PhoneNumber))
{
  <p>No phone number specified</p>
}
else
{
  <p>Could not find @ViewBag.PhoneNumber</p>
}